html{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    margin: 0px;
}

.centerd_item{
    display: flex;
    justify-content: center;
    align-items: center;
}


#header{
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: inset 0px -1px 0px #E2E2EA;
    padding: 5px 72px 5px 72px;

    display: flex;
    position: fixed;
}

#header > .left_section{
    flex: 1;
    display: flex;
    align-items: center;
}

#header > .right_section{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.button_fill {
    width: 120px;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    height: 38px;
    background: #373BF1;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor:pointer;
}

.button_fill > p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin: 0px;
}

.button_no_fill {
    width: 86px;
    height: 38px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.button_no_fill > p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #373BF1;
    margin: 0px;
}

#logo{
    width: 155px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
}

#main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 100px;
}

.auth_form{
    width: 560px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(55, 59, 241, 0.1);
    padding: 30px;
}

.title > .main_title{
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    color: #44444F;
    text-align: center;
}

.title > .sub_title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #92929D;
    text-align: center;
}

.title{
    margin-bottom: 40px;
}

input{
    width: 100%;
    margin-bottom: 20px;
    height: 48px;
    border: 1px solid #2BE3E8;
    /*border: 1px solid #FC5A5A;*/
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
}

textarea{
    width: 100%;
    margin-bottom: 20px;
    height: 96px;
    border: 1px solid #2BE3E8;
    /*border: 1px solid #FC5A5A;*/
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
}

.input_label{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #2BE3E8;
    margin-bottom: 5px;
}

.input_dual{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input_dual > div {
    width: 48%;
}

.auth_button{
    width: 100%;
    height: 48px;
    background: #373BF1;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.auth_button > p{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: #FAFAFB;
    margin: 0px;
}

.section_title{
    margin-bottom: 100px;
}

.section_title > .main_title{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #44444F;
    text-align: center;
}

.section_title > .sub_title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #44444F;

}

.section{
    margin-bottom: 200px;
    padding: 0px 140px 0px 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_banner{
    display: flex;
    flex-direction: row;
}

.section_banner > div{
    flex: 1;
}

.section_banner > .right_section {
    display: flex;
    justify-content: flex-end;
}

.section_banner > .left_section > .title_banner{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #44444F;
}

.section_banner > .left_section > .sub_title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #44444F;
}

.section_banner > .left_section > p{
    margin-bottom: 30px;
}


.section_feature > .title{
    margin-bottom: 140px;
}

/*.banner{*/
/*    width: 600px;*/
/*    height: 430px;*/
/*}*/

.banner_image{
    padding-top: 50px;
}

.banner_image > .image{
    width: 570px;
    height: 400px;
    background-color: black;
    margin-top: -430px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;

    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.banner_image > .image_bg{
    width: 570px;
    height: 400px;
    margin-left: -30px;
    border: 1px solid #2BE3E8;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.features {
    display: flex;
}

.feature{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 25px 0px 25px;
}

.feature > .feature_logo {
    width: 100px;
    height: 100px;
    background-color: #2BE3E8;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
}

.feature > .main_title{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.feature > .sub_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
}

.section_article > .section_title > p{
    text-align: left;
}

.section_article > .section_title{
    align-self: flex-start;
}

.section_article > a{
    align-self: flex-end;
}


.articles{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.articles > .article {
    width: 640px;
    height: 160px;
    box-shadow: 0px 0px 10px rgba(54, 59, 241, 0.15);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.articles > .article > .thumbnail {
    width: 80px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.articles > .article > .main {
    width: 500px;
}

.articles > .article > .main > .title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #272A45;
    margin-bottom: 15px;
}

.articles > .article > .main > .content {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #272A45;
}

#footer{
    height: 500px;
    width: 100%;
    background: #373BF1;
    padding: 0px 140px 0px 140px;

}

#footer > p{
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
}

.footer_section{
    display: flex;
    height: 90%;
    align-items: center;
}

.footer_section > div {
    flex: 1;
}

.footer_section > .left_section > .logo > .logo_image{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.footer_section > .left_section > .logo > .logo_text{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
    margin: 0px;
}

.footer_section > .left_section > .logo{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer_section > .left_section > p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
}

.footer_section > .right_section > .footer_main > div > .title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer_section > .right_section > .footer_main > div > a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer_section > .right_section > .footer_main {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.section_blind_test{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section_blind_test > .left_section > .title_blind_test{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.section_blind_test > .left_section > .sub_title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #44444F;
}

#blind_test_image{
    width: 500px;
    height: 500px;
    background-color: black;
    margin-bottom: 60px;
    border-radius: 10px;
}

.blind_test > .button_fill{
    margin-left: auto;
}

#blind_test_no{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 14px;
    color: #2BE3E8;
    margin-bottom: 30px;
}

.section_blind_test_result > .result{
    width: 728px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_blind_test_result > .result > .result_description{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #44444F;
    text-align: center;
    margin-bottom: 50px;
}

.section_blind_test_result > .result > .result_title{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #44444F;
    margin-bottom: 50px;
}

#result_no{
    width: 200px;
    height: 80px;
    background: #2BE3E8;
    box-shadow: 0px 0px 10px rgba(55, 59, 241, 0.15);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

#result_no > p {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    align-items: center;
    color: #FFFFFF;
    margin: 0px;
}

.section_blind_test_result > .result > table{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

th, td{
    padding: 10px;
}

th{
    font-style: normal;
    font-weight: 600;
    color: #44444F;
    background-color: #FAFAFB;
}

td{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #44444F;
}